<main class="main-content page-main-content">
  <div class="container">
    <header class=" page-header-title">
      <h1 class="page-title">Contact us</h1>
    </header>
    <div class="row">
      <section class="section col-sm-6">
        <header class="section-header">
          <h2 class="section-title">Send us a message</h2>
        </header>
        <div class="section-body">
          <form action="">
            <div class="form-group">
              <label class="form-label">Your Name *</label>
              <input name="name" class="form-control" type="text" required placeholder="e.g John Deo">
            </div>
            <div class="form-group">
              <label class="form-label">Your Email *</label>
              <input name="email" class="form-control" type="email" required placeholder="e.g someone@somedomain">
            </div>
            <div class="form-group">
              <label class="form-label">Your Phone Number *</label>
              <input name="tel" class="form-control" type="tel" required placeholder="e.g 98XXXXXXXXXX">
            </div>
            <div class="form-group">
              <label class="form-label">Subject</label>
              <input name="subject" class="form-control" type="text" placeholder="">
            </div>
            <div class="form-group">
              <label class="form-label">Your Message</label>
              <textarea name="message" rows="5" class="form-control" required placeholder="e.g someone@somedomain"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-danger btn-hover-light">Send Message</button>
            </div>
          </form>
        </div>
      </section>
      <div class="col-sm-6">
        <section class="section">
          <header class="section-header">
            <h2 class="section-title">Feel free to contact us </h2>
          </header>
          <div class="section-body">
            <div class="contact-info">
              <b>Mail us</b>
              <p>
                <a href="mailto:contact@contentstudio.co.in">contact@contentstudio.co.in</a>
              </p>
            </div>
            <div class="contact-info">
              <b>Reach us at </b>
              <p>
                443 & 444, 4th Floor Vipul Trade Centre, Sector 48, Sohna Road, Gurugram Haryana, 122001 India
              </p>
            </div>
          </div>
        </section>
      </div>

    </div>

  </div>
  <!--container-->
</main>
