<main class="main-content page-main-content">
  <div class="container">
    <header class=" page-header-title">
      <h1 class="page-title">About us</h1>
    </header>
    <section class="section">
      <header class="section-header">
        <h2 class="section-title">Get The Video Experience Like No Other</h2>
      </header>
      <div class="section-body">
        <p>Boogle Tv believes that video is the best way to capture and share life’s incredible journey. That is why we aspire
          to offer the finest video experience that will make your life better. </p>
        <p>
          We are the portal where you can find out content you love from all around the world, live or on demand whether its sports
          competitions, music festivals, comedy skits, political debates, fashion shows, gaming live-stream videos, movies.
          Our viewers can follow, watch and share the events and the ideas that keep the world surprising and diverse as
          they happen.
        </p>
        <p>
          We love to connect with the passionate audience anywhere, anytime. We care about contribution of all video-makers as the
          right resources, the cutting edge technology, the flexibility and the visibility they need to inspire, inform and
          entertain.
        </p>
      </div>
    </section>
    <section class="section">
      <header class="section-header">
        <h2 class="section-title">Why Choose Us?</h2>
      </header>
      <div class="section-body">
        <ul>
          <li>You love to keep yourself entertained with videos of all genres. </li>
          <li>You are big time binge watching junkie </li>
          <li>Passionate to keep yourself updated </li>
          <li>Connected to the best portal where you can watch everything of your choice. </li>
          <li>You believe in diversity </li>
        </ul>
      </div>
    </section>
  </div>
  <!--container-->
</main>
