<section class="footer">
  <div class="container">
    <section class="app-footer">

    
    <div class="row">
      <div class="col-md-12 app-footer-section">
        <!-- Start App Footer Section -->
        <div class="widget-title">
          <img src="assets/images/logo/logo.png" class="img-rounded" alt="Media Tube">
        </div>
        <div class=" textwidget">
          <p class="text-justify">
              Boogle Tv believes that video is the best way to capture and share life’s incredible journey. That is why we aspire to offer the finest video experience that will make your life better.
              We are the portal where you can find out content you love from all around the world, live or on demand whether its sports competitions, music festivals, comedy skits, political debates, fashion shows, gaming live-stream videos, movies. Our viewers can follow, watch and share the events and the ideas that keep the world surprising and diverse as they happen.
          </p>
          <p>
            <button class="btn btn-danger btn-hover-light" type="button">FIND OUT MORE &nbsp;
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </button>
          </p>
        </div>
      </div>
      <!-- End App Footer Section -->

     
    </div>
    <aside class="quick-links">
      <ul>
        <li>
          <a [routerLink]="['about-us']">About Boogle Tv</a>
        </li>
        <li>
          <a [routerLink]="['contact-us']">Contact Us</a>
        </li>
        <li>
          <a [routerLink]="['privacy-policy']">Privacy Policy</a>
        </li>
        <li>
          <a [routerLink]="['terms-and-conditions']">Terms & Conditions</a>
        </li>
      </ul>
    </aside>
  </section>
  </div>

  <div class="footer-copyright">
    <p class="app-copyright">Copyright © {{currentYear}}. All right reserved. </p>
  </div>
  <!-- End Footer Copyright -->

</section>
