<aside class="ads">
  <img src="assets/images/banner/Ad/ad2.jpg" alt="">
</aside>

<!-- <aside class="sidebar-item">
  <div class="sidebar-header">
    <h6 class="sidebar-title">Newsletter</h6>
  </div>
  <div class="sidebar-body">
    <p>
      Subscribe to our newsletter and join our 1 subscribers
    </p>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Your email address">
    </div>
    <div class="">
      <button type="button" class="btn btn-danger btn-hover-dark">Subscribe</button>
    </div>
  </div>
</aside> -->

<aside class="ads">

  <img src="assets/images/banner/Ad/ad6.jpg" alt="">
</aside>
<aside class="ads">
  <img src="assets/images/banner/Ad/ad4.png" alt="">
</aside>
