<main class="main-content page-main-content">
  <div class="container-fluid">
    <div class="row">
      <aside class="col-md-1 ad-sidebar ad-sidebar-left">

      </aside>
      <main class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <header class=" page-header-title">
              <h1 class="page-title">{{pageTitle}}</h1>
            </header>
            <p>
              Under this Privacy Policy all the information related to Boogle Tv (“Platform” and/or “We”) is listed. We
              collect from the user(s) (“User(s)” and/or “You”) of (“Website”) and any associated mobile sites,
              applications (“apps”) and/or the Services provided by the Platform on the Website (as defined in the
              Terms of Use of the Website – “Terms of Use”), which Services can be used or accessed on the Site (as
              defined in the Terms of Use).
            </p>

            <section class="section">
              <header class="section-header">
                <h2 class="section-title">Information Collection And Use</h2>
              </header>
              <div class="section-body">
                For a better experience, while using our Service, we may ask you to provide us with certain personally
                identifiable information, which may include your personal details such as
                <ul>
                  <li>Name</li>
                  <li>Contact details</li>
                  <li>Postal address & address</li>
                </ul>
                The information that we collect will be used to contact or identify you or at the time you will sign up
                with us. We make sure that we take care of your details and we don’t disclose your details to third
                party.
              </div>
            </section>

            <section class="section">
              <header class="section-header">
                <h2 class="section-title">Security</h2>
              </header>
              <div class="section-body">
                We value the trust you have on us while sharing your Personal Information, thus we are determined to
                use commercially acceptable means of protecting it. We try our 100% to make sure your each and every
                “sensitive detail” is protected and it is not disclosed at any point of time.
              </div>
            </section>
            <section class="section">
              <header class="section-header">
                <h2 class="section-title">Third-Party Websites</h2>
              </header>
              <div class="section-body">
                <ul>
                  <li>This Service may contain links to other Services owned and operated by third parties which are
                    not under the control of the Company.</li>
                  <li>The service may contain links to other third-party websites which are not under the control of
                    the company. The inclusion of any links does not constitute or imply an endorsement or
                    recommendation by us of the third-party, of the quality of any product or service, advice,
                    information or other materials displayed, purchased, or obtained by you as a result of an
                    advertisement or any other information or offer in or in connection with the third party service.
                    The company and service shall not be liable, accountable or responsible for your personal
                    information and/or sensitive personal data or information being used or misused by such third-party
                    service.</li>
                  <li>Your access and usage of any third-party websites is entirely at your own risk. The company shall
                    not be a party to any transaction between you and a third-party service.</li>
                  <li>Your use of a third-party service is subject to the terms and conditions and privacy policy of
                    that site in addition to these terms of use. In the event of any inconsistency between the
                    governing terms and conditions, the terms of use including the privacy policy of the service shall
                    prevail to the extent of conflict.</li>
                </ul>
              </div>
            </section>

            <section class="section">
                <header class="section-header">
                  <h2 class="section-title">Cookies </h2>
                </header>
                <div class="section-body">
                  <ul>
                      <li>Cookies are the information which is collected when you visit the website/application, we may ask you before sending one or more cookies. It is a small text file containing a string of alphanumeric characters - to your computer that exclusively recognize your browser and store it. </li>
                      <li>These third party advertisers and ad servers may use the information they collect to help present their advertisements, to help measure and research the advertisements' effectiveness, or for other uses.  </li>
                      <li>The use and collection of your information by these third party advertisers and ad servers is governed by the relevant third party's privacy policy and is not covered by our privacy policy and we shall not be responsible for such third party's acts / use of such information. Indeed, the privacy policy of these third party advertisers and ad servers may be different from our privacy policy. </li>
                      
                  </ul>
                </div>  
                </section>  

                <section class="section">
                    <header class="section-header">
                      <h2 class="section-title">Children Privacy </h2>
                    </header>
                    <div class="section-body">
                      <ul>
                          <li>We do not intentionally collect personal information from children under 13. We take many special precautions to protect the privacy of children under 13.</li>
                          <li>At our websites through our apps intended for children, we do not collect personal contact information (like full name, birthdates, phone number or home address) from children without the consent of a parent or legal guardian, except in limited circumstances authorized by law. </li>
                          <li>We collect some information (like IP address, mobile device UDID, operating system, etc.) automatically and use technology like cookies to provide functionality and support our operations. We do not permit interest-based advertising on Sites or Apps directed to children under 13 or where we have actual knowledge that a child is under 13.</li>
                          
                      </ul>
                    </div>  
                    </section>  

          </div>
          <!-- <div class="col-md-3">

          </div> -->
        </div>

      </main>
      <aside class="col-md-1 ad-sidebar ad-sidebar-right">

      </aside>
    </div>


  </div>
  <!-- container -->
</main>
